{% extends "base" %}
{% block content %}
<div class='text-center'>
<h1>Counter</h1>
<div class='qnumbers'>
<div class='current'>
<h2>Current number</h2>
<h3>34</h3>
</div>
<div class='next'>
<h2>Next number</h2>
<h3>35</h3>
</div>
</div>
<button class='btn btn-primary btn-lg'>Next</button>
</div>
{% endblock content %}

